/*  your css code here. If applicable */
#grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 100px);
    gap: 10px;
    width: 80%;
    margin: 50px auto;
    text-align: center;
}

#grid div {
    background-color: #4CAF50;
    color: white;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}
